@charset "utf-8";
#container {
    display: flex;
    flex-direction: column;
    /* containerの中は縦並び */
    gap: 8px;
}
#container > div{
    display: flex;
    /* containerの中のdivは横並び */
    gap: 10px;
    align-items: center;
}
#bar{
    display: flex;
    width: 25%;
    height: 20px;
    background: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
#textPlace{
border-radius: 50px;
background: #ffffff;
box-shadow: inset 20px 20px 60px #e0e0e0,
            inset -20px -20px 60px #ffffff;
}
.form-control{
background: #e9ecef;
}
/* From Uiverse.io by ke1221 
button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em !important;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
} */
